<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side" opened [ngStyle]="{ width: '250px' }" class="pt-5 bg-main">

    <mat-nav-list class="pt-5">
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        class="mt-5 ps-5"
      >
      <div class="d-flex align-items-center gap-3">
        <div class="bg-light rounded-circle d-flex justify-content-center"
          [ngStyle]="{ width: '40px', height: '40px' }"
        >
          <mat-icon matListItemIcon class="text-dark">{{ item.icon }}</mat-icon>
        </div>
        {{ item.label }}
      </div>
      </mat-list-item>
    </mat-nav-list>

    <button mat-flat-button (click)="onLogout()" [ngStyle]="{margin: '40px 0 0 50px'}">
      Cerrar sesión
    </button>
  </mat-sidenav>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
