<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="position-relative"
    [ngStyle]="{
      'width.px': 170,
      'height.px': 180
    }"
  >
    <mat-icon
    [ngStyle]="{
      'width.px': 150,
      'font-size': '150px',
      'height.px': 150
    }"
    >
    account_box
    </mat-icon>
    <button mat-icon-button class="position-absolute top-0 end-0">
      <mat-icon>edit_square</mat-icon>
    </button>
  </div>
  <div class="mt-5">Nombre</div>
  <mat-form-field class="mt-3 w-25" appearance="outline">
    <input matInput [readonly]="true" [value]="userName">
  </mat-form-field>
  <div class="mt-5">Correo Electrónico</div>
  <mat-form-field class="mt-3 w-25" appearance="outline">
    <input matInput [readonly]="true" [value]="userEmail">
  </mat-form-field>
</div>

<div class="">
  <mat-card class="card-form" *ngIf="this.userRol == 1 || this.userRol == 5">
    <form [formGroup]="roleForm" (ngSubmit)="updateRol()">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="idPlayer">
          <mat-option [value]="item" *ngFor="let item of allUsers">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleForm.get('idPlayer')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="idRol">
          <mat-option [value]="item" *ngFor="let item of allRoles">
            {{item.rol}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleForm.get('idRol')">
          El rol es obligatorio
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Actualizar
      </button>
    </form>
  </mat-card>
</div>
