.main {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.card-week {
  width: 75%;
  height: 350px;
  background-color: #CBAA62;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.card-form {
  width: 75%;
  border-radius: 15px;
}

