.card-week {
  width: 470px;
  height: 420px;
  background-color: #CBAA62;
}

.card-day {
  width: 267px;
  height: 53px;
}

.card-act {
  width: 135px;
}

.btn-card {
  width: 20px;
  height: 20px;
}

.activity-bar {
  width: 267px;
  height: 20px;
}

mat-form-field {
  width: 120px;
}
