<div class="d-flex align-items-center gap-5 pt-4 ps-4">
  <h1>Planificador de {{ getSelectedMonthName() }} de {{ selectedYear }}</h1>
  <mat-form-field appearance="outline" class="team-select" *ngIf="this.userRol == '5'">
      <mat-label>Equipo</mat-label>
      <mat-select [value]="selectedTeam" (selectionChange)="onTeamChange($event.value)">
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{ team.name }}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div class="main">

  <div class="information">

  <mat-card class="card-week mb-3 p-3 pt-2 text-light">
    <div class="d-flex justify-content-end gap-1 mb-1">
      <button mat-icon-button class="week-arrow-btn" type="button" (click)="previousWeek()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button class="week-arrow-btn" type="button" (click)="nextWeek()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>


    <div class="week-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Monday Column -->
        <ng-container matColumnDef="Monday">
          <th mat-header-cell *matHeaderCellDef class="justify-content-center">
            <div class="week-header">Lunes</div>
            <div class="header-date">{{ weekDates.Monday }}</div>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="activity-cell">
              <div class="activity-text"
                [ngClass]="{
                  'activity-vod': item.Monday?.idTipeAct == 1,
                  'activity-teorico': item.Monday?.idTipeAct == 2,
                  'activity-pracc': item.Monday?.idTipeAct == 3
                }">
              {{ item.Monday?.name }}</div>
              <button mat-icon-button class="delete-btn" color="warn" type="button"
              *ngIf="item.Monday?.name && (this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5')"
              (click)="deleteActivity(item.Monday.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Tuesday Column -->
        <ng-container matColumnDef="Tuesday">
          <th mat-header-cell *matHeaderCellDef>
            <div>Martes</div>
            <div class="header-date">{{ weekDates.Tuesday }}</div>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="activity-cell">
              <div class="activity-text"
                [ngClass]="{
                  'activity-vod': item.Tuesday?.idTipeAct == 1,
                  'activity-teorico': item.Tuesday?.idTipeAct == 2,
                  'activity-pracc': item.Tuesday?.idTipeAct == 3
                }">
              {{ item.Tuesday?.name }}</div>
              <button mat-icon-button class="delete-btn" color="warn" type="button"
              *ngIf="item.Tuesday?.name && (this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5')"
              (click)="deleteActivity(item.Tuesday.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Wednesday Column -->
        <ng-container matColumnDef="Wednesday">
          <th mat-header-cell *matHeaderCellDef>
            <div>Miércoles</div>
            <div class="header-date">{{ weekDates.Wednesday }}</div>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="activity-cell">
              <div class="activity-text"
                [ngClass]="{
                  'activity-vod': item.Wednesday?.idTipeAct == 1,
                  'activity-teorico': item.Wednesday?.idTipeAct == 2,
                  'activity-pracc': item.Wednesday?.idTipeAct == 3
                }">
              {{ item.Wednesday?.name }}</div>
              <button mat-icon-button class="delete-btn" color="warn" type="button"
              *ngIf="item.Wednesday?.name && (this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5')"
              (click)="deleteActivity(item.Wednesday.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>

        </ng-container>

        <!-- Thursday Column -->
        <ng-container matColumnDef="Thursday">
          <th mat-header-cell *matHeaderCellDef>
            <div>Jueves</div>
            <div class="header-date">{{ weekDates.Thursday }}</div>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="activity-cell">
              <div class="activity-text"
                [ngClass]="{
                  'activity-vod': item.Thursday?.idTipeAct == 1,
                  'activity-teorico': item.Thursday?.idTipeAct == 2,
                  'activity-pracc': item.Thursday?.idTipeAct == 3
                }">
              {{ item.Thursday?.name }}</div>
              <button mat-icon-button class="delete-btn" color="warn" type="button"
              *ngIf="item.Thursday?.name && (this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5')"
              (click)="deleteActivity(item.Thursday.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Friday Column -->
        <ng-container matColumnDef="Friday">
          <th mat-header-cell *matHeaderCellDef>
            <div>Viernes</div>
            <div class="header-date">{{ weekDates.Friday }}</div>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="activity-cell">
              <div class="activity-text"
                [ngClass]="{
                  'activity-vod': item.Friday?.idTipeAct == 1,
                  'activity-teorico': item.Friday?.idTipeAct == 2,
                  'activity-pracc': item.Friday?.idTipeAct == 3
                }">
              {{ item.Friday?.name }}</div>
              <button mat-icon-button class="delete-btn" color="warn" type="button"
              *ngIf="item.Friday?.name && (this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5')"
              (click)="deleteActivity(item.Friday.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>

  <div class="info-form">
    <mat-form-field appearance="outline" class="date-select">
      <mat-label>Año</mat-label>
      <mat-select [value]="selectedYear" (selectionChange)="onYearChange($event.value)">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="date-select">
      <mat-label>Mes</mat-label>
       <mat-select [value]="selectedMonth" (selectionChange)="onMonthChange($event.value)">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="card-form-container" *ngIf="this.userRol == '1' || this.userRol == '2' || this.userRol == '3' || this.userRol == '5'">
      <mat-card class="card-form">
        <form [formGroup]="plannerForm" (ngSubmit)="addActivity()" [class.form-submitted]="submitted">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && plannerForm.get('date')?.hasError('required')">
              La fecha es obligatoria.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Actividad</mat-label>
            <mat-select formControlName="idTipeAct">
              <!-- <mat-option [value]="item" *ngFor="let item of activityList">
                {{item}}
              </mat-option> -->
              <mat-option value="1" class="option-vod">VOD</mat-option>
              <mat-option value="2" class="option-teorico">Teórico</mat-option>
              <mat-option value="3" class="option-pracc">PRACC</mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && plannerForm.get('idTipeAct')?.hasError('required')">
              La actividad es obligatoria
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Añadir
          </button>
        </form>
      </mat-card>
    </div>

  </div>

</div>
