<section>
  <div class="login">
    <div class="col">
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
        <h2>Iniciar Sesión</h2>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" required>
            <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <div *ngIf="email?.hasError('required')">El email es requerido.</div>
              <div *ngIf="email?.errors?.['email']">El email debe tener un formato válido.</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="password" formControlName="password" required>
            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div *ngIf="password?.hasError('required')">La contraseña es requerida.</div>
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-fab [disabled]="userForm.invalid" type="submit">
          <mat-icon>east</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="register">
    <h2>¡Hola, Amigo!</h2>
    <p>Regístrate con tus datos para empezar a utilizar las funcionalidades del sitio</p>
    <button mat-flat-button class="btnRegister" (click)="onRegister()">REGISTRARSE</button>
  </div>
</section>
