<div class="mt-4 ms-5">
  <h1>Equipo - {{teamName}}</h1>
</div>

<mat-card class="card-main rounded-4 mt-4">

  <div class="card">

    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Nombre
        </th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
          Email
        </th>
        <td mat-cell *matCellDef="let item">{{item.email}}</td>
      </ng-container>

      <!-- Rol Column -->
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rol">
          Rol
        </th>
        <td mat-cell *matCellDef="let item">{{item.rol}}</td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button *ngIf="this.userRol == '1' || this.userRol == '2' || this.userRol == '5'" mat-icon-button color="warn"
            (click)="deleteMember(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div class="card card-add"  *ngIf="this.userRol == '1' || this.userRol == '2' || this.userRol == '5'">
    <form [formGroup]="formTeam" (ngSubmit)="addMember()" [class.form-submitted]="submitted">
      <mat-form-field>
        <mat-label>Equipo</mat-label>
        <mat-select formControlName="idTeam" required (selectionChange)="onTeamChange($event.value)">

        <ng-container *ngIf="userRol == '5'; else regularUserTemplate">
          <mat-option *ngFor="let teamItem of allTeams" [value]="teamItem.id">
            {{ teamItem.name }}
          </mat-option>
        </ng-container>

        <ng-template #regularUserTemplate>
          <mat-option [value]="userTeamId">
            {{ teamName }}
          </mat-option>
        </ng-template>

      </mat-select>
        <mat-error *ngIf="submitted && formTeam.get('idTeam')">
          El equipo es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Seleccionar Usuario</mat-label>
        <mat-select formControlName="idUser" required>
          <mat-option *ngFor="let userItem of usersWithoutTeam" [value]="userItem.id">
            {{ userItem.name }} — ({{ userItem.email }})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && formTeam.get('idUser')?.invalid">
          Debe seleccionar un usuario
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Añadir
      </button>
    </form>
  </div>

</mat-card>
