.card-main {
  width: 1130px;
  height: 815px;
  background-color: #000;
  display: flex;
  align-items: center;
}

.card {
  width: 1056px;
  height: 300px;
  margin-top: 3%;
}

.btn-card {
  width: 30px;
  height: 30px;
}

.custom-select {
  width: 120px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
