<div class="mt-4">
  <h1>Equipo - {{team.name}}</h1>
</div>

<mat-card class="card-main rounded-4 mt-4">

  <div class="card">

    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Nombre
        </th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
          Email
        </th>
        <td mat-cell *matCellDef="let item">{{item.email}}</td>
      </ng-container>

      <!-- Rol Column -->
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rol">
          Rol
        </th>
        <td mat-cell *matCellDef="let item">{{item.rol}}</td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="warn" (click)="deleteMember(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div class="card">
    <form [formGroup]="myForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="myForm.get('nombre')">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="myForm.get('email')">
          El email es obligatorio
        </mat-error>
        <mat-error *ngIf="myForm.get('email')">
          El email no es válido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol">
          <mat-option *ngFor="let item" [value]="item">
            {{ item.rol }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.get('rol')">
          El rol es obligatorio
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Enviar
      </button>
    </form>
  </div>

</mat-card>
